/Console.exe.lnk
/*.zip
/Rscram.Rcheck/*
/Rscram/src-i386/*
/Rscram/src-x64/*

# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
#*.bat

# Other compiler output
*.rds
